[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.0"
colorama = "==0.4.1"
selenium = "==3.141.0"
PyYAML = "==5.2"
Pillow = "==9.0.0"

[requires]
python_version = "3.7"
